body, html{
	height: auto;
	font-family: Arial;
	margin: 0;
	padding: 0;
	background: #223e5d;

}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
h2{
	font-size: 3em;
	margin: 0;
	padding: 20px;
	color: #fff;
}
h1{
	text-align: center;

}
.wrap{
	background: url('../images/2.png');
	min-height: 480px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	position: absolute;
	right: 5px;
	margin: 20px;
	max-width: 300px;
	background: #fff;
	border-radius: 10px;
	padding: 10px;
}
input[type=text],input[type=password]{
	width: 100%;
	padding: 20px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	font-size: 16px;
}

.btn{
	background: #4caf50;
	color: #fff;
	padding:13px 20px;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	border: none;
}

.btn:hover{
	background: #c1e0f7;

}
a{
	text-decoration: none;
	font-size: 14px;
	color: #223e5d;
}
a:hover{	
	text-decoration: underline;
	color: #223e5d;

}
label{
	font-size: 13px;
	float: left;
}
p{
	font-size: 20px;
}