{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "prefer-template": "off",
        "no-console": "off",
        "prefer-arrow-callback": "off",
        "func-names": "off",
        "linebreak-style": "off",
        "eol-last": "off",
        "prefer-destructuring": "off",
        "no-unused-vars": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "no-undef": "off",
    }
}
